{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Google Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <!-- Jquery -->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>

        <title>내 피드</title>

        <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }
        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .feed_box {
            border: solid 1px gray;
            background-color: white;
        }

        .modal_overlay {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }

        .navbar {
            position: relative;
            z-index: 1050;
        }

        .dropdown-item {
            display: flex;
            align-items: center;
        }

        .dropdown-item .material-symbols-outlined {
            margin-right: 12px;
        }

        /** 아이콘 관련 **/
        /* 모든 아이콘의 기본값은 '채우지 않음(0)'으로 고정 */
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }

        /* 색을 채우고 싶은 아이콘 class에 'filled'를 추가 */
        .filled {
            font-variation-settings: 'FILL' 1 !important;
        }

        /* 마우스를 올렸을 때(Hover) 'click-fill' 추가해 색 채우기 */
        .material-symbols-outlined.click-fill:hover {
            font-variation-settings: 'FILL' 1;
        }

        /* 드롭다운이 열릴 때(.show)만 색을 채우기 */
        #setting_dropdown.show span {
            --fill-val: 1;
        }

    </style>
    </head>

    <body>

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light"
             style="background-color: rgb(252,252,252); position: fixed; width: 100%">
            <div class="container-fluid" style="justify-content: space-between; flex-wrap: nowrap; width: 1000px">

                <!-- 왼쪽 : 로고 -->
                <a class="navbar-brand" href="/main">
                    <img src="{% static 'images/BOOKSNAP.png' %}" style="height:40px;">
                </a>

                <!-- 가운데 : 검색창 -->
                <div class="mx-auto d-flex" style="width:300px; height: 25px">
                    <input class="form-control me-2" style="box-shadow: none" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" style="width:60px"><span
                            class="material-symbols-outlined">search</span></button>
                </div>

                <!-- 오른쪽 : 아이콘 그룹 -->
                <div class="d-flex gap-3 ms-auto">
                    <a href="/main" style="color: black"><span class="material-symbols-outlined">home</span></a>
                    <span class="material-symbols-outlined">send</span>
                    <span id="nav_bar_add_box" class="material-symbols-outlined" style="cursor: pointer">add_box</span>
                    <span class="material-symbols-outlined">explore</span>
                    <span class="material-symbols-outlined">mood_heart</span>

                    <!-- 프로필 & 드롭다운 -->
                    <div class="dropdown">

                        <!-- 프로필 -->
                        <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="box" style="height: 30px; width: 30px">
                                <img class="profile" src="{% get_media_prefix %}{{ request.user.profile_image }}" style="height:30px; width: 30px">
                            </div>
                        </a>

                        <!-- 드롭다운 -->
                        <ul class="dropdown-menu" style="left: -148px" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/content/mysnap/{{ request.user.nickname }}">
                                <span class="material-symbols-outlined">photo_library</span>
                                MY SNAP</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/user/logout">
                                <span class="material-symbols-outlined">Logout</span>
                                LOGOUT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- 프로필 영역 -->
        <div style="background: #f4f4f4">
            <div style="display: flex; flex-direction: row; justify-content: center">
                <!-- 프로필 사진 -->
                <div style="padding: 90px 40px 20px 60px;">
                    <div class="box" style="height: 150px; width: 150px">
                        <img class="profile" src="{% get_media_prefix %}{{ profile_user.profile_image }}"
                             style="height:150px; width: 150px">
                    </div>
                </div>

                <!-- 텍스트들 -->
                <div style="display:flex; padding-top: 103px; flex-direction:column; gap:14px; text-align: left;
                    padding-right: 250px">

                    <!-- #1 줄 -->
                    <div style="display: flex; justify-content: space-between; flex-direction: row; align-items: center; width: 280px">

                        <div style="display: flex; justify-content: left; flex-direction: row; align-items: center; gap: 10px">
                            <!-- Nickname -->
                            <div style="font-size: 25px; font-weight: bold; margin-right: 5px">
                                {{ profile_user.nickname }}
                            </div>

                            <!-- 팔로우 -->
                            {% if request.user != profile_user %}
                                <span id="follow_{{ profile_user.id }}" to_user_id="{{ profile_user.id }}"
                                    class="follow material-symbols-outlined {% if is_followed %}filled{% endif %}"
                                    style="cursor: pointer; color: dimgray">
                                    check_circle
                                </span>
                            {% endif %}
                        </div>

                        <!-- Setting Button -->
                        <div>
                            <!-- Click Setting -->
                            <a href="#" role="button" id="setting_dropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                style="text-decoration: none">
                                <div class="box" style="height: 30px; width: 30px; display: flex; align-items: center">
                                    <span class="material-symbols-outlined"
                                          style="color: dimgray; font-variation-settings: 'FILL' var(--fill-val, 0)">
                                        settings
                                    </span>
                                </div>
                            </a>

                            <!-- Setting Dropdown -->
                            <ul class="dropdown-menu" style="left: -148px" aria-labelledby="setting_dropdown">

                                <!-- 계정 편집 -->
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <span class="material-symbols-outlined">account_circle</span>
                                        계정 편집
                                    </a>
                                </li>

                                <!-- 프로필 편집 -->
                                <li>
                                    <input type="file" id="input_fileupload" style="display: none" onchange="profile_upload()">
                                    <a id="dropdown_profileupload" class="dropdown-item" href="#">
                                        <span class="material-symbols-outlined">photo_camera</span>
                                        프로필 사진 편집
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>



                    <!-- #2 줄 -->
                    <div style="display:flex; gap: 30px; font-size: 17px; font-weight: bold">

                        <!-- 게시물 -->
                        <div style="display:flex; gap: 7px; align-items: center">
                            <div>게시물</div><div style="font-size: 20px">{{ feed_count }}</div>
                        </div>

                        <!-- 팔로워 -->
                        <div style="display:flex; gap: 7px; align-items: center">

                            <span>팔로워</span>

                            <!-- 팔로워 수 -->
                            <a href="#" role="button" id="follower_dropdown" data-bs-toggle="dropdown"
                               aria-expanded="false"
                               style="text-decoration: none">
                                <span id="follower_count" style="cursor:pointer; font-size: 20px; color: black">
                                    {{ follower_count }}
                                </span>
                            </a>

                            <!-- Dropdown -->
                            <ul class="dropdown-menu" aria-labelledby="follower_dropdown">

                                {% if followers %}
                                    {% for f in followers %}
                                        <li><a class="dropdown-item" href="/content/mysnap/{{ f.from_user.nickname }}">

                                            <!-- 프로필 사진 -->
                                            <div class="box" style="height: 40px; width: 40px">
                                                <img class="profile"
                                                     src="{% get_media_prefix %}{{ f.from_user.profile_image }}"
                                                     style="height:40px; width: 40px">
                                            </div>

                                            <!-- Nickname -->
                                            <div style="font-size: 15px; font-weight: bold; margin-left: 10px">
                                                {{ f.from_user.nickname }}
                                            </div>
                                        </a></li>
                                    {% endfor %}

                                {% else %}
                                    <li><a class="dropdown-item"> None</a></li>
                                {% endif %}

                            </ul>
                        </div>

                        <!-- 팔로잉 -->
                        <div style="display:flex; gap: 7px; align-items: center">

                            <span>팔로잉</span>

                            <!-- 팔로잉 수 -->
                            <a href="#" role="button" id="following_dropdown" data-bs-toggle="dropdown"
                               aria-expanded="false"
                               style="text-decoration: none">
                                <span id="following_count" style="cursor:pointer; font-size: 20px; color: black">
                                    {{ following_count }}
                                </span>
                            </a>

                            <!-- Dropdown -->
                            <ul class="dropdown-menu" style="left: -148px" aria-labelledby="following_dropdown">
                                {% if followings %}

                                    {% for f in followings %}
                                        <li><a class="dropdown-item" href="/content/mysnap/{{ f.to_user.nickname }}">

                                            <!-- 프로필 사진 -->
                                            <div class="box" style="height: 40px; width: 40px">
                                                <img class="profile"
                                                     src="{% get_media_prefix %}{{ f.to_user.profile_image }}"
                                                     style="height:40px; width: 40px">
                                            </div>

                                            <!-- Nickname -->
                                            <div style="font-size: 15px; font-weight: bold; margin-left: 10px">
                                                {{ f.to_user.nickname }}
                                            </div>

                                        </a></li>
                                    {% endfor %}
                                {% else %}
                                    <li><a class="dropdown-item"> None</a></li>
                                {% endif %}


                            </ul>
                        </div>
                    </div>

                    <!-- #3 줄 -->
                    <div style="font-size: 15px">{{ user.name }}</div>
                </div>
            </div>
        </div>

        <!-- 게시물 | 좋아요 | 북마크 -->
        <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
            <div style="border-top: solid 2px lightgray;  width: 60%; margin: 0 auto">
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 10px;
                color: gray; gap: 100px">

                    <!-- Grid -->
                    <div style="cursor:pointer; padding:10px">
                        <span id="button_feed_list" class="material-symbols-outlined click-fill filled">grid_on</span>
                    </div>

                    <!-- Favorite -->
                    <div style="cursor: pointer; padding: 10px">
                        <span id="button_like_feed_list" class="material-symbols-outlined click-fill">favorite</span>
                    </div>

                    <!-- Bookmark -->
                    <div style="cursor: pointer; padding: 10px">
                        <span id="button_bookmark_feed_list" class="material-symbols-outlined click-fill">bookmark</span>
                    </div>
                </div>
            </div>

            <!-- 내 게시물 -->
            <div id="feed_list" style="display: flex; flex-direction: row; flex-wrap: wrap; width: 60%; justify-content: flex-start">
                {% for feed in feed_list %}
                    <div style="width: calc(33.33% - 10px); margin: 5px">
                            <img class="feed_post" src="{% get_media_prefix %}{{ feed.image }}" data-feed-id="{{ feed.id }}"
                                 style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover; display: block">
                    </div>
                {% endfor %}
            </div>

            <!-- 좋아요 게시물 -->
            <div id="like_feed_list" style="display: none; flex-direction: row; flex-wrap: wrap; width: 60%; justify-content: flex-start">
                {% for feed in like_feed_list %}
                    <div style="width: calc(33.33% - 10px); margin: 5px">
                            <img class="profile" src="{% get_media_prefix %}{{ feed.image }}"
                                 style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover; display: block">
                    </div>
                {% endfor %}
            </div>

            <!-- 북마크 게시물 -->
            <div id="bookmark_feed_list" style="display: none; flex-direction: row; flex-wrap: wrap; width: 60%; justify-content: flex-start">
                {% for feed in bookmark_feed_list %}
                    <div style="width: calc(33.33% - 10px); margin: 5px">
                            <img class="profile" src="{% get_media_prefix %}{{ feed.image }}"
                                 style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover; display: block">
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- #1 Modal Layout(add_box) -->
        <!-- 전체 검정 화면 -->
        <div id="first_modal" class="modal_overlay">

            <!-- 가운데 흰 화면 -->
            <div class="modal_window">

                <!-- 상단 바 -->
                <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px">
                    <div style="width:40px">&nbsp;</div>
                    <div style="font-weight: bold; display:flex; align-items:center; justify-content:center;">
                        <span class="material-symbols-outlined" style="margin-right: 5px">photo_camera</span>
                        SNAP YOUR BOOK
                    </div>
                    <div><span class="modal_close material-symbols-outlined" style="cursor: pointer; margin-right: 5px">close</span></div>
                </div>

                <!-- Image Drog & Drop-->
                <div class="img_upload_space"
                     style="border-top: solid 1px darkgray; width :100%; height: 530px; margin-top: 10px"></div>

            </div>
        </div>

        <!-- #2 Modal Layout(add_box) -->
        <!-- 전체 검정 화면 -->
        <div id="second_modal" class="modal_overlay">

            <!-- 가운데 흰 화면 -->
            <div class="modal_window">

                <!-- 상단 바 -->
                <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px">
                    <div style="width:40px">&nbsp;</div>
                    <div style="font-weight: bold; display:flex; align-items:center; justify-content:center;">
                        <span class="material-symbols-outlined" style="margin-right: 5px">photo_camera</span>
                        SNAP YOUR BOOK
                    </div>
                    <div><span class="modal_close material-symbols-outlined" style="cursor: pointer; margin-right: 5px">
                        close</span>
                    </div>
                </div>

                <!-- 이미지 | 글쓰기 -->
                <div style="display: flex; flex-direction: row; border-top: solid 1px darkgray; margin-top: 10px">

                    <!-- 이미지 -->
                    <div class="img_upload_space" style="width :70%; height: 530px"></div>

                    <!-- 글쓰기 -->
                    <div style="display: flex; flex-direction: column; border-left: solid 1px darkgray; width: 30%">

                        <!-- 프로필 -->
                        <div style="display: flex; flex-direction: row; align-items: center; margin: 10px">
                            <!-- 프로필 사진 -->
                            <div class="box" style="height: 45px; width: 45px">
                                <img class="profile" src="{% get_media_prefix %}{{ user.profile_image }}"
                                     style="height:45px; width: 45px">
                            </div>
                            <!-- 아이디 -->
                            <div style="margin-left: 10px; font-size: 15px; font-weight: bold;">
                                <b>{{ user.nickname }}</b>
                            </div>
                        </div>

                        <!-- 글쓰는 곳 -->
                        <div>
                            <textarea id="input_feed_content" class="form-control"
                                      rows="3" style="width: 100%; height: 425px"></textarea>
                        </div>

                        <!-- 버튼 -->
                        <button id="feed_create_button" type="button" class="btn btn-info" style="width: 100%">
                            공유하기
                        </button>

                    </div>
                </div>


            </div>
        </div>

        <!-- #3 Modal Layout(feed_post) -->
        <!-- 전체 검정 화면 -->
        <div id="feed_post_modal" class="modal_overlay">

            <!-- 가운데 흰 화면 -->
            <div class="modal_window">

                <!-- 상단 바 -->
                <span class="modal_close material-symbols-outlined"
                           style="cursor: pointer; display: flex; justify-content:right; margin-right: 5px; margin-top: 10px">
                    close
                </span>

                <!-- Image | Content | Reply -->
                <div style="display: flex; flex-direction: row; border-top: solid 1px #dbdbdb; margin-top: 10px">

                    <!-- Image -->
                    <img id="modal_image" style="width :70%; height: 530px">

                    <!-- Contents -->
                    <div style="display: flex; flex-direction: column; border-left: solid 1px #dbdbdb; width: 30%;
                        height: 530px;">

                        <!-- 프로필 -->
                        <div style="display: flex; flex-direction: row; align-items: center; margin: 10px; flex-shrink: 0;">
                            <!-- 프로필 사진 -->
                            <div class="box" style="height: 45px; width: 45px">
                                <img class="profile" src="{% get_media_prefix %}{{ user.profile_image }}"
                                     style="height: 45px; width: 45px">
                            </div>
                            <!-- 아이디 -->
                            <div id="modal_nickname" style="margin-left: 10px; font-size: 15px; font-weight: bold"></div>
                        </div>

                        <!-- Content -->
                        <div id="modal_content" style="margin-left: 10px; width: 100%; height: 150px; font-size: 15px;
                            min-height: 80px; max-height: 250px; overflow-y: auto; flex-shrink: 0;">
                        </div>

                        <!-- Favorite | Bookmark -->
                        <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 5px;
                            flex-shrink: 0; border-top: solid 1px #dbdbdb">

                            <!-- Favorite -->
                            <div style="display: flex; flex-direction: row; align-items: center">
                                <span id="modal_is_liked" feed_id="{{ feed.id }}"
                                      class="favorite material-symbols-outlined click-fill {% if feed.is_liked %}filled{% endif %}"
                                      style="cursor: pointer; margin: 5px">
                                favorite
                                </span>

                                <!-- Like Count -->
                                <div id="modal_like_count" style="text-align: left; font-size: 17px;
                                    font-weight: bold">
                                </div>

                            </div>

                            <!-- Bookmark -->
                            <span id="modal_is_marked" feed_id="{{ feed.id }}" style="cursor: pointer"
                                  class="bookmark material-symbols-outlined click-fill {% if feed.is_marked %}filled{% endif %}"
                                  style="cursor: pointer; margin: 5px">
                            bookmark
                            </span>
                        </div>

                        <!-- 댓글들 -->
                        <div id="modal_reply_list" style="flex-grow: 1; padding: 15px; font-size: 14px; overflow-y: auto;"></div>


                        <!-- 댓글 게시 버튼 -->
                        <div style="display: flex; flex-direction: row; border-top: solid 1px #dbdbdb; align-items: center">
                            <input id="reply_{{ feed.id }}" type="text" class="form-control" style="box-shadow: none;
                                margin-top: 5px; margin-bottom: 5px; border: none" placeholder="댓글 달기...">
                            <div class="upload_reply" feed_id="{{ feed.id }}" style="display: flex;
                                justify-content: center; align-items: center; width: 40px; cursor: pointer">
                                <span class="material-symbols-outlined click-fill" style="color: blue">send</span>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>

        <!-- Modal Action -->
        <script>
        let files;

            // 모든 AJAX 요청에 CSRF 토큰을 자동으로 포함시키는 설정
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
                    }
                },

                headers: {
                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                }
            });


            /* Click Follow */
            $('.follow').click(function (event) {
                let to_user_id = event.currentTarget.getAttribute('to_user_id');
                let follow_id = event.target.id;

                $.ajax({
                    data: { to_user_id: to_user_id },
                    method: "POST",
                    url: "/content/follow",

                    success: function (data) {
                        if(data.is_followed) {
                            $('#' + follow_id).addClass('filled');
                        } else {
                            $('#' + follow_id).removeClass('filled');
                        }

                        // 팔로워 수 바로 변경
                        let count = parseInt($('#follower_count').text());

                        if (data.is_followed) {
                            $('#follower_count').text(count + 1);
                        } else {
                            $('#follower_count').text(count -1);
                        }
                    },

                    error: function () {console.log("에러")}
                });
            });

            /* * 아이콘 filled 처리 * */
            $('.click-fill').click(function (event) {

                let button = $(event.currentTarget);

                $('.click-fill').removeClass('filled');
                button.addClass('filled');
            });

            /* Grid Button */
            $('#button_feed_list').click(function () {
                $('#feed_list').css('display', 'flex');
                $('#like_feed_list, #bookmark_feed_list').hide();
            });

            /* Favorite Button */
            $('#button_like_feed_list').click(function () {
                $('#like_feed_list').css('display', 'flex');
                $('#feed_list, #bookmark_feed_list').hide();
            });

            /* Bookmark Button */
            $('#button_bookmark_feed_list').click(function () {
                $('#bookmark_feed_list').css('display', 'flex');
                $('#feed_list, #like_feed_list').hide();
            });

            /* Open Modal(feed_post)*/
            $('.feed_post').click(function (event){
                let feed_id = $(this).data('feed-id');  // data-feed-id 값 가져오기

                $.ajax({
                    url: "/content/feed_detail",
                    method: "GET",
                    data: {feed_id: feed_id},

                    success: function (data) {

                        // 모달 내 요소에 데이터 넣기
                        $('#modal_image').attr('src', data.image);   // HTML 속성 바꾸기
                        $('#modal_content').text(data.content);      // 텍스트 넣기
                        $('#modal_nickname').text(data.nickname);
                        $('#modal_like_count').text(data.like_count);

                        // Reply
                        $('#modal_reply_list').empty;

                        data.reply_list.forEach(function (reply) {
                            let reply_row = `
                                <div style="margin-bottom: 8px;">
                                    <b style="margin-right: 5px;">${reply.nickname}</b>
                                    <span>${reply.reply_content}</span>
                                </div>`;
                            $('#modal_reply_list').append(reply_row);
                        });

                        // Is Liked
                        if (data.is_liked) {
                            $('#modal_is_liked').addClass('filled');
                        } else {
                            $('#modal_is_like').removeClass('filled');
                        }

                        // Is Marked
                        if (data.is_marked) {
                            $('#modal_is_marked').addClass('filled');
                        } else {
                            $('#modal_is_marked').removeClass('filled');
                        }

                        // Modal
                        $('#feed_post_modal').css({
                            display: 'flex'
                        });

                        $(document.body).css({
                            overflow: 'hidden'
                        });
                    },

                    error: function (request, status, error) {
                        console.log("에러");
                    }
                });
            });

            /* Open Modal(add_box) */
            $('#nav_bar_add_box').click(function () {   // nav_bar_add_box를 click하면 함수 실행
                $('#first_modal').css({                // 그 함수는 first_modal의 css 속성 중
                    display: 'flex'                   // display 값을 flex로 변경함 (기본은 none)
                });
                $(document.body).css({
                    overflow: 'hidden'                 // 스크롤 없애기
                });
            });

            /* Close Modal */
            $('.modal_close').click(function () {
                $('#first_modal, #second_modal, #feed_post_modal').css({
                    display: 'none'
                });

                $(document.body).css({
                    overflow: 'auto'
                });
            });


            /* Event 연결 */
            $('.img_upload_space')            // drog&drop html에 대하여
                .on("dragover", dragOver)     // 파일을 그 영역 위로 끌어오면 dragOver 함수 실행
                .on("dragleave", dragOver)    // 파일을 영역 밖으로 빼면 dragOver 함수 실행
                .on("drop", uploadFiles);     // 파일을 실제로 drop 하면 uploadFiles 함수 실행

            /* Drag 상태 처리 */
            function dragOver(e) {             // event 객체에 대하여
                e.stopPropagation();          // event bubbling(부모 요소로 퍼지는 것) 막음
                e.preventDefault();           // 브라우저 기본 동작(새 창으로 열림) 막음

                if (e.type == "dragover") {              // drag 하는 중에
                    $(e.target).css({
                        "background-color": "black",     // 배경 색상은 black
                        "outline-offset": "-20px"
                    });

                } else {                                 // drag 하지 않는 중에(leave)
                    $(e.target).css({
                        "background-color": "gray",      // 배경 색상은 gray
                        "outline-offset": "-10px"
                    });
                }
            }

            /* 파일 업로드 처리 - 파일 drop 시 */
            function uploadFiles(e) {
                e.stopPropagation();
                e.preventDefault();

                e.dataTransfer = e.originalEvent.dataTransfer; // 원본 이벤트에서 실제 파일 데이터를 꺼냄
                files = e.target.files || e.dataTransfer.files; // 그 파일 데이터를 files 변수에 저장
                console.log("뭔가 파일을 올렸네?" + files[0].name);                                                    // 그 후, 이미지인지 검사하고 화면에 보여줌

                /* 이미지 확인 */
                if (files.length > 1) {          // 2장 이상 업로드 시 경고
                    alert('1 Picture only');
                    return;
                }

                if (files[0].type.match(/image.*/)) {   // 파일 타입이 이미지인지 검사

                    $('#first_modal').css({                   // first_modal은 끄고
                        display: 'none'
                    });
                    $('#second_modal').css({                  // second_modal 켜기
                        display: 'flex'
                    });

                    $('.img_upload_space').css({       // 업로드한 파일을 임시 URL로 변환. div 배경에 이미지 표시
                        "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                        "outline": "none",
                        "background-size": "100%",
                        "background-repeat": "no-repeat",         // 바둑판 배열X
                        "background-position": "center"
                    });
                } else {
                    alert('img files only');
                    return;
                }

            }

            /* 공유하기 버튼 클릭 */
            $('#feed_create_button').click(function () {
                alert("공유하기 눌렀다." + files[0].name);

                /* 데이터 모아서 */
                let file = files[0];                            // files[0] : 드롭했던 이미지 파일
                let image = files[0].name;                      // files[0].name : 파일 이름
                let content = $('#input_feed_content').val();   // textarea에 입력한 글 / .val() : input 값 읽기

                /* FormData에 담고 */
                let fd = new FormData();                        // 서버로 보낼 데이터들(파일+문자열+텍스트)
                fd.append('file', file);                        // 위의 내용들을 FormData에 담는다
                fd.append('image', image);
                fd.append('content', content);

                /* 서버로 보내기 */
                $.ajax({                                        // AJAX(비동기)로 브라우저 → Django 서버로 데이터 전달
                    data: fd,                                   // 1. FormData에 담긴 파일+글 데이터를
                    method: "POST",                             // 2. 서버로 전달하는데
                    url: "/content/upload",                     // 3. 이 주소로 요청(urls.py에서 UploadFeed와 연결)
                    processData: false,
                    contentType: false,

                    success: function (data) {
                        console.log("성공");
                    },
                    error: function (request, status, error) {
                        console.log("에러");
                    },
                    complete: function () {
                        console.log("완료");
                        location.replace("/main");              // main 페이지로 이동
                    }
                });
            });

            /* '프로필 사진 편집 버튼'으로 프로필 사진 바꾸기 */
            $('#dropdown_profileupload').click(function (e){
                e.preventDefault();
                $('#input_fileupload').click();
            });

            function profile_upload(){
                let file = $('#input_fileupload')[0].files[0];
                let email = "{{ user.email }}";

                let fd = new FormData();
                fd.append('file', file);                        // 위의 내용들을 FormData에 담는다
                fd.append('email', email);

                $.ajax({                                        // AJAX(비동기)로 브라우저 → Django 서버로 데이터 전달
                    data: fd,                                   // 1. FormData에 담긴 파일+글 데이터를
                    method: "POST",                             // 2. 서버로 전달하는데
                    url: "/user/profile/upload",                // 3. 이 주소로 요청(user.urls.py에서 연결)
                    processData: false,
                    contentType: false,

                    success: function () {
                        console.log("성공");
                    },
                    error: function () {
                        console.log("에러");
                    },
                    complete: function () {
                        console.log("완료");
                        location.replace("/content/mysnap/{{ request.user.nickname }}");              // mysnap 페이지로 이동
                    }
                });
            }

        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
{% csrf_token %}
</html>